
/* ====================== NAVBAR ========================= */

.logo-part1 {
  width: 56px;
}

.logo-part2 {
  width: 170px;
}

/* SIGN IN BUTTON */
#sign-in-button {
  border: 0;
  font-size: 2.25rem;
  padding-left: 2.5%;
}

nav li {
  font-size: 1.23rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ======================== HEADING SECTION ========================== */
.heading
{
  text-align:center;
  background: #bae5e5;
}
.heading p{
  font-size: 3.25rem;
  font-family: 'Cinzel', serif;
}
.heading span{
  font-size: 2.75rem;
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
}

/* =========================== GALLERY SECTION ======================= */
.place-gallery{
  background-color: #f5fcc1;
}
.place-name p{
  padding: 3% 5% 0 10%;
  font-size: 2.75rem;
  font-family: 'Caveat', cursive;
  font-weight: 400;
  color: #27496d;
}
.place-descriprtion{
  padding-bottom: 5%;
  align-items: center;
}
.like-btn p{
  font-family: 'Great Vibes', cursive;
  padding: 7%;
  color: #562349;
  font-size: 2rem;
}
.fa-heart:hover{
  color: red;
}
.carousel-item{
  padding: 5% 0;
}
.carousel-item img{
  border-radius: 100%;
}
.gallery-info {
  background-color: #f5fcc1;
}
.gallery-info p{
  padding: 3%;
  font-family: 'Caveat', cursive;
  font-size: 2rem;
}

/* ======================== REVIEWS ==================================== */
body {
    background: linear-gradient(to left, #ffaaa5, #ffd3b6);
}
.width-auto {
    width: auto;
}

.text-lg {
    font-size: 0.5rem;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #ffaaa5;
}
.review-heading{
  padding: 1.5% 0;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Great Vibes', cursive;
}
.review-heading .fas{
  color: #562349;
}
.review-heading .far{
  color: #562349;
}
.fa-quote-left{
  color: #ffaaa5;
}
.blockquote p{
  font-size: 0.5rem;
  font-family: 'Indie Flower', cursive;
}
/* ********************  add your own review    ****************************** */
.fa-star:hover{
  color: orange;
}
