body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #142850;
  margin: 0;
  padding: 0;
}

/* site logo */
.logo-part1 {
  width: 56px;
}

.logo-part2 {
  width: 170px;
}

/* SIGN IN BUTTON */
#sign-in-button {
  border: 0;
  font-size: 2.25rem;
  padding-left: 2.5%;
}

nav li {
  font-size: 1.23rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* CITIES ANIMATION */
/* IMAGES */
.swiper-container {
  position: relative;
  width: 100%;
  height: 80%;
  padding-top: 20px;
  padding-bottom: 50px;
  background: #bae5e5;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 35%;
  height: 100%;
  background: #bae5e5;
  /* opacity: 70%; */
}

.swiper-slide .image-box {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.swiper-slide .image-box img {
  width: 100%;
  height: 100%;
  border-radius:
}

.swiper-slide .city-img-details {
  box-sizing: border-box;
  font-size: 0.5rem;
  padding: 7px;
}

.swiper-slide .city-img-details h3 {
  z-index: 1;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-align: center;
  line-height: 20px;
}

.swiper-slide .city-img-details h3 span {
  font-size: 16px;
  color: #142850;
}

/* PLACES SECTION */
.container-fluid {
  padding: 0;
  margin: 0;
}

.background-picture {
  display: grid;
  height: 100%;
  padding-left: 0;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

#places-background .row {
  position: absolute;
}

#places-background .swiper-container {
  background: none;
}

#places-background .swiper-slide {
  background: none;
}

/* CITIES ANIMATION */
/* .animation{
  position: relative; */
/* width: 100%;
  height: 100vh; */
/* display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
} */
/* VIDEO */
/* .video-conatiner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
} */
/* #myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.video .swiper-container{
  z-index: 1;
} */
